<!DOCTYPE html>
<html>
<head><title>Enter Email</title></head>
<body>
    <p>Welcome, {{ username }}!<br> 
       Your phone number is {{ phnnumber }} <br>
       Please enter your Email ID:</p>

    <form method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="yourname@gmail.com" required>
        <input type="submit" value="Submit">
    </form>

    {% if message %}
        <p style="color:red;">{{ message }}</p>
    {% endif %}
</body>
</html>
